extends layout

block content  
    .container
        img.edit-image(src=`http://localhost:3000/${product[0].image}`, alt='...')
        form(method='post', action=`/edit/${product[0].id}`)
            .form-group
            label Catogory
            input.form-control(type='text', value=`${product[0].name}`, name='catogory')
            .form-group
            label Title
            input.form-control(type='text', value=`${product[0].title}`, name='type')
            .form-group
            label Type
            input.form-control(type='text', value=`${product[0].type}`, name='title')
            .form-group
            label Name
            input.form-control(type='text',  value=`${product[0].name}`, name='name')
            .form-group
            label Small description
            textarea.form-control(type='text', name='description', value=`${product[0].description}`)     
            .form-group
            label price
            input.form-control(type='text', placeholder='Rs.', name='price', value=`${product[0].price}`)
            button.btn.btn-primary(type='submit') Submit
