extends layout


block content
  .container-fluid
    .row
      .col-md-3
          ul.list-group
            each catogory in catogoryArray
              a(href='#')
                li.list-group-item= catogory
      .col-md-9
        .row
          each product in products
            .card.col-md-3(style='width: 18rem;')
              img.card-img-top(src=`http://localhost:3000/${product.image}`, alt='...')
              .card-body
                h5.card-title= product.name
                p.card-text= product.description
                p.card-text= product.product_id
                -const final = map(discountArray,product)
                if(final!==product.price)
                  strike
                    p.card-text $
                      a= `${product.price}` 
                  p=  final
                else
                   p.card-text $
                      a= `${product.price}` 
                a.fa.fa-edit.btn.btn-primary.pull-left.fa.fa-edit(href='#')
                form(method='POST')
                  button.fa.fa-trash.btn.btn-danger.pull-left(type='submit')
                a.fa.fa-shopping-cart.btn.btn-info.pull-right(href=`#`)
                br
                br
                button.btn.btn-secondary.open-discountForm(type='button', data-toggle='modal', data-target='#myModal' id=`${product.product_id}`) Add Discount
                include adddiscount.pug
                      
                


